/* 
RESET 
*/
button {
    background-color: transparent;
	color: inherit;
    display: inline-block;
    border: none;
    padding: 0;
    margin: 0;
    text-decoration: none;
    cursor: pointer;
    outline: none;
    font-family: inherit;
    text-align: left;
    font-size: inherit;
}   

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}



/* 
REUSABLES
*/
.flex {
    display: flex;
}

.grid {
    display: grid;
}

.center-y {
    align-items: center;
}

.center-x {
    justify-content: center;
}

.center {
    justify-content: center;
    align-items: center;
}

.column {
    flex-direction: column;
}

.text-center {
    text-align: center;
}



/* 
VARIABLES
*/
:root {
    --bg-clr: rgb(242, 242, 242);
    --main-clr: rgb(51, 51, 51);
    --shadow-grid: 0px 0px 10px 1px rgba(0,0,0,0.100);

    --font-heading: 'Rammetto One', sans-serif;
    --font-content: 'Inter', sans-serif;
}



/* 
MAIN STYLES 
*/