/* 
RESET 
*/
button, input {
    background-color: transparent;
	color: inherit;
    display: inline-block;
    border: none;
    padding: 0;
    margin: 0;
    text-decoration: none;
    cursor: pointer;
    outline: none;
    font-family: inherit;
    text-align: left;
    font-size: inherit;
}   

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}



/* 
REUSABLES
*/
.flex {
    display: flex;
}

.grid {
    display: grid;
}

.center-y {
    align-items: center;
}

.center-x {
    justify-content: center;
}

.center {
    justify-content: center;
    align-items: center;
}

.column {
    flex-direction: column;
}

.text-center {
    text-align: center;
}



/* 
VARIABLES
*/
:root {
    --bg-clr: rgb(242, 242, 242);
    --main-clr: rgb(51, 51, 51);
    --shadow-grid: 0px 0px 10px 1px rgba(0,0,0,0.100);

    --font-heading: 'Rammetto One', sans-serif;
    --font-content: 'Inter', sans-serif;
}



/* 
MAIN STYLES 
*/
body {
    font-family: var(--font-content);
    color: var(--main-clr);
    min-height: 100vh;
    padding: 1rem;
    gap: 1.5rem;
}

.heading {
    font-family: var(--font-heading);
    font-size: 2.25rem;
}

main {
    flex-direction: column-reverse;
    gap: 2rem;
}

.settings {
    gap: 1.5rem;
}

input[type='color'] {
    -webkit-appearance: none;
    width: 80px;
    height: 80px;
    border: none;
    transition: .2s;
}

input[type='color']::-webkit-color-swatch-wrapper {
    padding: 0;
}

input[type='color']::-webkit-color-swatch {
    border: none;
    border-radius: 50px;
    box-shadow: var(--shadow-grid);
}

.btn {
    width: 180px;
    padding: 1rem 2rem;
    text-align: center;
    border: 1px solid var(--main-clr);
    border-radius: 5px;
    transition: .2s;
}

.btn:hover {
    scale: 1.03;
}

input[type='color']:hover {
    scale: 1.03;
}

.btn.active {
    background-color: var(--main-clr);
    color: var(--bg-clr);
}

#sizeValues {
    font-size: 1.25rem;
}

input[type='range'] {
    -webkit-appearance: none;
    background-color: white;
}

input[type='range']::-webkit-slider-runnable-track {
    height: 10px;
    border: 1px solid var(--main-clr);
    border-radius: 25px;
}

input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 24px;
    height: 24px;
    border-radius: 25px;
    margin-top: -8px;
    background: var(--main-clr);
}

#grid {
    width: 325px;
    height: 325px;
    box-shadow: var(--shadow-grid);
}